@import url('https://fonts.googleapis.com/css2?family=Cantarell&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Palanquin+Dark:wght@400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

body {
    margin: 0;
    padding: 0;
}

nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 57px;
    background: #E3F4FEBB;
    /* background: linear-gradient(to right, #D56DFBAA, #E3F4FEAA, #FFFFFFAA); */
    /* box-shadow: 0 16px 40px 0 #7090B044; */
    border-radius: 8px 8px 0 0;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    -webkit-app-region: drag;
}
:not(nav) {
    -webkit-app-region: no-drag;
}

nav > #tabs-wrapper {
    display: flex;
    align-items: center;
    gap: 1rem;
    position: absolute;
    left: 1rem;
    color: #444;
}

nav > #tabs-wrapper > p {
    font-family: 'Open Sans', sans-serif;
    font-size: .85rem;
    font-weight: 600;
    text-wrap: nowrap;
    position: relative;
}

nav > #tabs-wrapper > p::before {
    content: '';
    position: absolute;
    top: -.325rem;
    left: -.5rem;
    width: calc(100% + 1rem);
    height: calc(100% + .75rem);
    background: #aaa;
    border-radius: 6px;
    opacity: .5;
    z-index: -1;
}

nav > #update-check {
    margin-left: calc(40% + 1rem);
    position: absolute;
    transform: translateX(75%);
}

nav > #update-check > i {
    animation: spinning 1s ease infinite;
}

@keyframes spinning {
    from {
        transform: rotateX(180deg) rotate(0);
    }

    to {
        transform: rotateX(180deg) rotate(1turn);
    }
}

.tippy-content {
    padding: .3rem;
}

#tabs-tooltip {
    margin: .2rem;
    padding: 0;
    display: flex;
    flex-direction: column;
    gap: .35rem;
    list-style: none;
}

#tabs-tooltip > li > button {
    padding: .5rem 1rem;
    width: 100%;
    font-weight: 600;
    color: #fff;
    background: rgba(255, 255, 255, .15);
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: all .15s;
}

#tabs-tooltip > li > button:hover {
    background: #666;
}

nav > #searchbar {
    width: 40%;
    display: flex;
    align-items: center;
    position: relative;
}

nav > #searchbar > i {
    margin: 0 0 0 .5rem;
    color: #888;
    position: absolute;
    transform: scale(.9);
}

nav > #searchbar > input {
    padding: .4rem 1rem;
    border-radius: 8px;
    background: #e7e7e7;
    outline: none;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    letter-spacing: 1px;
    width: 100%;
    border: none;
}

nav > #controls {
    position: absolute;
    right: 1rem;
    display: flex;
    align-items: center;
    flex-direction: row-reverse;
    gap: .5rem;
}

nav > #controls > div {
    width: 12px;
    aspect-ratio: 1;
    border-radius: 50%;
    cursor: pointer;
}

p#notice {
    margin-top: calc(2rem + 57px);
    font-family: 'Palanquin Dark', sans-serif;
    font-size: 1.2rem;
    font-weight: 700;
    letter-spacing: 2px;
    text-align: center;
    opacity: .4;
}