<!DOCTYPE html>
<html lang="en">
   <head>
      <meta charset="UTF-8">
      <!-- <meta name="viewport" content="width=device-width, initial-scale=1.0"> -->
      <meta name="viewport" content="height=60, initial-scale=1.0, maximum-scale=1.0, user-scalable=no"></meta>
      <link rel="stylesheet" href="./styles.css">
   </head>
   <body>
      <nav>
         <div id="tabs">
            <!-- <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor">
               <path d="M10.75 4.75a.75.75 0 0 0-1.5 0v4.5h-4.5a.75.75 0 0 0 0 1.5h4.5v4.5a.75.75 0 0 0 1.5 0v-4.5h4.5a.75.75 0 0 0 0-1.5h-4.5v-4.5Z" />
            </svg> -->
            <div id="tab-title" style="display: none;"></div>
         </div>

         <input
            id="searchbar"
            type="url"
            placeholder="Search in the universe..."
            autocomplete="off"
            autofocus
         />

         <div id="controls">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20">
               <path d="M6.28 5.22a.75.75 0 0 0-1.06 1.06L8.94 10l-3.72 3.72a.75.75 0 1 0 1.06 1.06L10 11.06l3.72 3.72a.75.75 0 1 0 1.06-1.06L11.06 10l3.72-3.72a.75.75 0 0 0-1.06-1.06L10 8.94 6.28 5.22Z" />
            </svg>             
         </div>
      </nav>

      <script src="./script.js" type="module"></script>
   </body>
</html>